$padding-top-bottom1 : 12px;
$padding-top-bottom2 : 15px;
$padding-right-left1 : 35px;
$padding-right-left2 : 60px;



//orange color
$primary-color : #ffa927;
$secondry-gray-color : #333;
$white-color : #fff;
$black-color : black;
$gray-color : #eee;
$light-gray-color : #f9f9f9;
$dark-light-gray-color : #cfcaca;
$dark-gray-color: #777;
$gray-color3: #bfbfbf;
$gray-color4: #5b5b5b;
$gray-color5: #ebebeb;
$gray-color6: #aaa;
$gray-color7: #242424;
$gray-color8: #222;
$dark-blue-color: #1f212e;
$gray-color9:#d3d3d3;
$gray-color10: #f8f8f8;
$gray-color11: #403c34;
$dark-pink-color: #ff2756;
$green-color: #46b450;

$padding-left-for-text-right-circle: 78px;
$margin-top-for-text-right-circle: -1px;
$margin-left-for-text-left-circle: -50px;
$margin-top-for-text-left-circle: 1px;

$font-weight-for-circle-text: 700;