.footer{
    width: 100%;
    height: 395px;
    background-color: $gray-color10;
    display: flex;
    flex-direction: row;


    &__company-card{
        display: flex;
        flex-direction: column;
        width: 37%;
        height: 371px;

        &--logo{
            margin-left: -320px;
            margin-top: 60px;
        }
        &__company-identify{
            @include company-card-text(21px, 25px);
            text-align: -webkit-left;
        }
        &__address{
            @include company-card-text(16px, -158px);
        }
        &__contact{
            @include company-card-text(16px, -225px);
        }
        &__email{
            @include company-card-text(16px, -306px);
            &:hover{
                color: $primary-color;
                transition: all 0.5s;
            }
        }
        &__social-contact{
            display: flex;
            flex-direction: row;
            width: 27%;
            height: 54px;
            margin-left: 30px;
            margin-top: 4px;
            font-size: 27px;
            color: $gray-color6;

                &--social-icon{
                    width: 44%;
                    margin-top: 12px;
                }
        }
        
    }
    &__branding-list{
        z-index: 0;
        margin-left: 170px;
        margin-top: 45px;

        &--design-text{
            font-weight: bold;
            color: $gray-color11;
            font-size: larger;
        }
        &__item-list{
            margin-top: 13px;
            text-align: -webkit-left;
            margin-left: -21px;

            &--choise{
                padding-bottom: 12px;
                font-size: 14px;
            }
        }
        

    }
    &__customer-care-list{
        z-index: 0;
        margin-left: 61px;;
        margin-top: 45px;
    }
    &__account-list{
        z-index: 0;
        margin-left: 61px;;
        margin-top: 45px;
    }
}